@model Company
@{
    ViewData["Title"] = "About a Company";
}


<div class="card shadow border-0 my-4">
    <div class="card bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Company Information</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">

        <div class="row mb-3">
            <div class="col-2 fw-bold">
                Company Name
            </div>
            <div class="col-8">
                @Model.CompanyName
            </div>
        </div>


        <div class="row mb-3">
            <div class="col-2 fw-bold">
                Street Address
            </div>
            <div class="col-8">
                @Model.StreetAddress
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-2 fw-bold">
                City
            </div>
            <div class="col-8">
                @Model.City
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-2 fw-bold">
                State
            </div>
            <div class="col-8">
                @Model.State
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-2 fw-bold">
                Postal Code
            </div>
            <div class="col-8">
                @Model.PostalCode
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-2 fw-bold">
                Phone Number
            </div>
            <div class="col-8">
                @Model.PhoneNumber
            </div>
        </div>

        <div class="row pt-3">
            <div class="col-6 col-md-3">
                <a asp-action="Upsert"
                   asp-route-productId="@Model.CompanyId"
                   asp-controller="Company"
                   class="btn btn-warning form-control">
                    <i class="bi bi-pencil-square"></i> Edit
                </a>
            </div>

            <div class="col-6 col-md-3">
                <a asp-action="Index"
                   asp-controller="Company"
                   class="btn btn-secondary form-control">
                    Back To List
                </a>
            </div>
        </div>

    </div>
</div>
